body {
	background-color:black;
}

#gameBoard {
	border: 1px solid black;
	display: grid;
	grid-template-columns: 120px 120px 120px 120px 120px;
	grid-template-rows: 120px 120px 120px 120px 120px;
	justify-content: center;
	width:600px;
	height:600px;
	
	margin-left:auto;
	margin-right:auto;
}

#gameBoard div{
	background-color:#00EE00;
	background-repeat:no-repeat;
	background-size:cover;
}

.rider {
	background-image:url("images/rider.png"):
}